
  <div class="col-xs-12 col-sm-6 col-sm-offset-1">
    <div class="header-flat-details">
      <div class="header-flat-owner text-center">
        <%= image_tag flat.owner_picture, class: "img avatar-large" %>
        <p><%= flat.owner_name %></p>
      </div>
      <div class="header-flat-name">
        <h1><%= flat.description %></h1>
        <p><%= flat.city %></p>
      </div>
    </div>
  </div>
